*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yeon Sung', cursive;
}

::selection {
  color: palevioletred;
}

div{
  width: 100vw;
  height: 100vh;
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #8ad314;
  text-shadow: 2px 2px 8px black;
}

input {
  width: 40%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  margin: 20px 0;
}

button {
  background-color: hotpink;
  margin-top: 20px;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(184, 206, 104, 0.2), 0 6px 20px 0 rgba(184, 206, 104, 0.2);
  /* line-height: 24px; */
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


  p {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px red;
  }

  #para__num {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
  }

  #para__qua {
    text-align: center;
    color: red;
    text-shadow: 2px 2px 5px hotpink;
  }















